<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @team, partial: "card", as: :team %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "teams/team_rooms" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "teams/team_memberships" %>
  </div>
</div>
