<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Rooms

    <a data-toggle="collapse" href="#user_rooms_new_form">
      Add room
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.rooms.each do |room| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to room, room_path(room) %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_rooms_new_form">
        <%= render partial: "users/user_rooms_new_form" %>
      </div>
    </div>

  </ul>
</div>
