<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Teams
  </div>

  <ul class="list-group list-group-flush">
    <% @user.teams.each do |team| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/teams/<%= team.id %>">
          <%= team %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
